<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.example_android_jetpack_fragment">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.ExampleAndroidJetPackFragment">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".usage.activity.UsageActivity" />
        <activity android:name=".usage.activity.UsageExample1Activity" />
        <activity android:name=".usage.activity.UsageExample2Activity" />
        <activity android:name=".usage.activity.UsageExample3Activity" />
        <activity android:name=".usage.activity.UsageExample4Activity" />
        <activity android:name=".usage.activity.UsageExample5Activity" />
        <activity android:name=".result.activity.ResultAPIActivity" />
        <activity android:name=".result.activity.ResultExample1Activity" />
        <activity android:name=".result.activity.ResultExample2Activity" />
        <activity android:name=".result.activity.ResultExample3Activity" />
    </application>

</manifest>